@use 'variables' as var;
@forward 'variables';

main {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("../media/images/signup_background_banner.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

.form-control, .form-select {
    background-color: var.$bg-dark-custom;
    border: 0;
    
    &:focus {
        border-color: var.$focus-ring-brand-border;
        box-shadow: var.$focus-ring-brand-shadow;
    }
}

.form-check-input:checked, .checkbox-custom-color:checked {
    background-color: #dc3545 !important;
}

#formSignup {
    width: 95%;
    
    @media screen and (min-width: 1200px) {
        width: 50%;
    }
    
    @media screen and (min-width: 768px) {
        width: 80%;
    }
}

.form-label, .form-text {
    color: var.$text-secondary-color;
}

.input-group-credit {

    .form-control {
        flex: 4 1 0%;
    }

    .form-select {
        flex: 1 1 0%;
        max-width: 90px;
        border-left: 1px solid rgba(255, 255, 255, 0.08);
    }
}