@use 'variables' as var;
@forward 'variables';

main {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("../media/images/signup_background_banner.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

.form-control, .form-select {
    background-color: var.$bg-dark-custom;
    border: 0;
    
    &:focus {
        border-color: var.$focus-ring-brand-border;
        box-shadow: var.$focus-ring-brand-shadow;
    }
}

.form-check-input:checked, .checkbox-custom-color:checked {
    background-color: #dc3545 !important;
}

#formSignup {
    width: 50%;
}

.form-label {
    color: var.$text-secondary-color;
}